.DS_Store
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
ac-comphist.dat
auto-save-list
backups
elpa
projectile-bookmarks.eld
saves
project-explorer-cache
projectile.cache
network-security.data
url
initdotel.el
.projectile-bookmarks
.projectile-cache
.custom.el
smex-items
ido.last
bookmarks
cache
eshell